* {
    box-sizing: border-box;
  }

  body {
    background-color: dodgerblue;
    font-family: 'Abel', sans-serif;
    font-weight: 50; 
    width: 100%;
  }

  table, th ,td {
    text-align: left;
    height: 50px;
    margin: 10px;
    padding: 10px;
  }

  table {
    border-spacing: 0px;
  }
  
  th {
    background-color: black;
    color:white;
    border-bottom: 2px solid grey;
  }

  td {
    color: 	#808080;
    border: 0.5px solid #C0C0C0;
  }

  tr:first-child th{ 
    min-width: 350px;
    max-width: 350px;
 }

  tr th:last-child {
    min-width: 400px;
    max-width: 400px;
 }

  th:last-child { 
    border-left: 0.5px solid grey; 
  }

  th:first-child { 
    border-top-left-radius: 3px; 
  }

  th:last-child { 
    border-top-right-radius: 3px; 
  }
  
  tr:last-child td:first-child { 
    border-bottom-left-radius: 3px; 
  }

  tr:last-child td:last-child { 
    border-bottom-right-radius: 3px; 
  }

  tr:nth-child(even) {
      background-color:#DCDCDC;
  }

  tr:nth-child(odd) {
    background-color: #F5F5F5;
  }
  
  .dollars:before {
  content: '$ ';
 }

 .dollars:after {
  content: '.00';
 }
