<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1> Welcome to Quizzy</h1>
    <p> Please provide a name, and a password, so you can start a quiz! </p>
    <form action="#" th:action="@{/login}"  th:method="post">
        <div>
            <label for="name">Name</label>
            <input class="field"  id="name" name="name" type="text" required>
            <label for="password">Password</label>
            <input class="field"  id="password" name="password" type="text" required>
            <button type="submit">Go</button>
        </div>
        <div>
            <p th:style="'color:red'" th:text=${error}></p>
        </div>

    </form>
</div>
</body>
</html>