<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
        <tr th:each="question : ${questions}" th:object="${question}">
            <td th:text="*{id}"></td>
            <td th:text="*{question}"></td>
            <td th:text="*{answer1}"></td>
            <td th:text="*{answer2}"></td>
        </tr>
    </table>
</div>
</body>
</html>