<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table of accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>King or Not?</th>
        <th>Good or Not?</th>
    </tr>
    <tr th:each="account : ${bankAccounts}" th:object="${account}">
        <td th:text ="*{id}"> </td>
        <td th:text="*{name}"> </td>
        <td th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')}"> </td>
        <td th:text="*{isKing} ? 'This animal is the KING.' : 'This animal is not a king.'"> </td>
        <td th:text="*{isGood} ? 'This animal is good.' : 'This animal is an evil one.'"> </td>
    </tr>
</table>
</body>
</html>