<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table of accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>King or Not?</th>
        <th>Good or Not?</th>
    </tr>
    <tr th:each="account : ${bankAccounts}" th:object="${account}">
        <td th:text ="${accountStat.count}"> </td>
        <td th:text="*{name}"> </td>
        <td th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')}"> </td>
        <td th:text="*{isKing} ? 'This animal is the KING.' : 'This animal is not a king.'"> </td>
        <td th:text="*{isGood} ? 'This animal is good.' : 'This animal is an evil one.'"> </td>
    </tr>
</table>
<!--<div>-->
<!--    <form th:action="@{/raise}" method="post" th:each="account : ${bankAccounts}" th:object="${account}">-->
<!--        <div>-->
<!--            <label for="name">Name </label>-->
<!--            <input type="text" id="name" name="name">-->
<!--            <button type="submit">Raise</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>