<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table of accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <link rel="stylesheet" th:href="@{/showtablestyle.css}"  type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>King or Not?</th>
        <th>Good or Not?</th>
    </tr>
    <tr th:each="account : ${bankAccounts}" th:object="${account}" th:attr="class=${account.isKing} ? 'king' : 'notKing'">
        <td id="id" th:text ="${accountStat.count}"> </td>
        <td id="name" th:text="*{name}"> </td>
        <td id="balance" class="zebra" th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')}"></td>
        <td id="type" th:text="*{animalType}"> </td>
        <td id="isKing" th:text="*{isKing} ? 'KING' : 'not king'"> </td>
        <td id="isGood" th:text="*{isGood} ? 'good' : 'evil'"> </td>
    </tr>
</table>
</body>
</html>