* {
    box-sizing: border-box;
  }
  
body {
    background-color: #D3D3D3;
    font-family: 'Raleway', sans-serif;
    /* font-weight: 400; */
    width: 100%;
    box-sizing: border-box;
}

.grid {
    background-color: white;
    width: 740px;
    height: 494px;
    margin: 50px auto;
    border-radius: 4px;
    /* margin: 50px auto; */
    /* padding-left: 50px;
    padding-top: 55px; */
    /* display: grid; */
    /* padding-right: 50px;
    padding-bottom: 50px; */
    grid-template-columns:  320px, 100px, 320px;
    grid-template-rows: 414px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
}

.column-left {
    width: 273px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 50px;
    padding-top: 55px;
    /* grid-row-start: 1;
    grid-row-end: 2; */
}

.column-middle {
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    padding-top: 224px;
    width: 103px;
}

/* .column-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 185px;
}  */
 
/* h1 {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
}

.field {
    font-size: 18px;
    border: 0px none;
    border-bottom: 1px solid #DCDCDC;
    padding-top: 36px;
    width: 273px;
}

.sign-up {
    padding-top: 58px;
} */

/* #sign-up {
    width: 150px;
    height: 39px;
    border-radius: 4px;
    border: 0px none;
    background-color: #16A085;
}

#or {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #DDDDDD;
    text-align: center;
} */