<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check a student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1> Check </h1>
    <form action="#" th:action="@{/gfa/check}" th:method="post">
        <div>
            <input class="field" name="name" type="text" placeholder="Name" required>
        </div>
        <div class="button">
            <button type="submit">Check</button>
        </div>
    </form>
    <p th:text=${name}></p>
</div>
</body>
</html>