<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Links</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
<!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1> Green Fox Class App </h1>
    <div>
        <a href="/gfa/list"> List of Green fox Class</a>
    </div>
    <div>
        <a href="/gfa/add"> Add</a>
    </div>
<!--    <div>-->
<!--        <a href="/decode"> Decode</a>-->
<!--    </div>-->
</div>
</body>
</html>