<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
<!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1> List of students </h1>
    <div th:each="student : ${students}">
        <p th:text="'Name: ' + ${student}"></p>
    </div>
</div>
</body>
</html>