* {
    box-sizing: border-box;
}

body {
    background-color: 	turquoise;
}

h1 {
    font-family: 'Abel', sans-serif;
    font-weight: 100;
    margin: 20px;
}

table, th ,td {
    text-align: left;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

table {
    border-spacing: 0;
}

th {
    background-color: indigo;
    color:lavender;
    border-bottom: 2px solid palevioletred;
}

td, th {
    border: 0.5px solid palevioletred;
}

tr:first-child th:first-child {
    min-width: 0;
    max-width: 150px;
}

tr:first-child th{
     min-width: 150px;
     max-width: 150px;
    text-align: center;
}

th:last-child {
    border-left: 0.5px solid grey;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

tr:nth-child(even) {
    background-color:skyblue;
}

tr:nth-child(odd) {
    background-color: lightskyblue;
}

.zebra:after {
    content: ' Zebra';
}

.king {
    color: antiquewhite;
    background-color: palevioletred !important;
}

.button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#6b1b15;
    text-decoration:none;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}
.button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.button:active {
    position:relative;
    top:1px;
}

#id, #balance {
    text-align: right;
}

#isKing, #isGood {
    text-align: center;
}


