<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Encode</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <form action="#" th:action="@{/encode}" th:method="post">
        <div>
            <input class="field" name="text" type="text" placeholder="Test to encode" required>
            <input class="field" name="number" type="text"  placeholder="Shifting" required>
        </div>
        <div class="button">
            <button type="submit">Encode</button>
        </div>
    </form>
    <p th:text="${encode}"></p>
</div>
</body>
</html>