<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Links</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1> Available utilities </h1>
    <div>
        <a href="/useful/colored"> Random Colored BackGround</a>
    </div>
    <div>
        <a href="/useful/email"> Email validator</a>
    </div>
    <div>
        <a href="/ceaser/encode"> Encode</a>
    </div>
    <div>
        <a href="/ceaser/decode"> Decode</a>
    </div>
</div>
</body>
</html>