<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <ul>
        <li>
            <a th:href="'/?name=' + ${fox.name}"> Information </a>
        </li>
        <li>
            <a th:href="'/nutritionstore?name='+ ${fox.name}"> Nutrition Store </a>
        </li>
        <li>
            <a th:href="'/trickcenter?name='+ ${fox.name}"> Trick Center </a>
        </li>
        <li>
            <a th:href="'/actionhistory?name='+ ${fox.name}"> Action History </a>
        </li>
    </ul>
    <div>
        <p th:if="${numOfActions == 0}">There was no action yet.</p>
        <ul th:unless="${numOfActions == 0}" th:each="action : ${actions}" >
            <li th:text="${action}" ></li>
<!--            <li th:text="${actionFood}" ></li>-->
<!--            <li th:text="${actionDrink}" ></li>-->
<!--            <li th:text="${actionTrick}" ></li>-->
        </ul>
    </div>
</div>
</body>
</html>