<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <ul>
        <li>
            <a th:href="'/?name=' + ${fox.name}"> Information </a>
        </li>
        <li>
            <a th:href="'/nutritionstore?name='+ ${fox.name}"> Nutrition Store </a>
        </li>
    </ul>
    </div>
        <img src="greenfox.png" alt="green fox">
    <div>
<!--        <p th:text="'This is ' + ${fox.name} +'. Currently living on ' + ${fox.drink} + ' and '-->
<!--        + ${fox.food} + '. He knows ' + ${fox.numberOfTricks()} + ' tricks.'"></p>-->
        <p th:text="${toString}"></p>
    </div>
    <div>
        <h1>Known tricks</h1>
    </div>
    <p th:if="${numOfTricks == 0}">You know no tricks, yet. Go and learn some.</p>
    <ul th:unless="${numOfTricks == 0}">
            <li>Write HTML</li>
            <li>code in Java</li>
    </ul>
</div>
</body>
</html>