<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <ul>
        <li>
            <a href="#"> Information </a>
        </li>
        <li>
            <a href="/nutritionstore"> Nutrition Store </a>
        </li>
    </ul>
    <form action="#" th:action="@{/nutritionstore}" th:method="post">
            <label class="form-title" for="food">Food:</label>
            <select id="food" name="food" th:selected="${fox.food}" th:style="'text-transform: lowercase'">
                <option th:each="food : ${foods}" th:text="${food}" th:style="'text-transform: lowercase'"></option>
            </select>
            <label class="form-title" for="drink">Drink:</label>
            <select id="drink" name="drink" th:selected="${fox.drink}" th:style="'text-transform: lowercase'">
                <option th:each="drink : ${drinks}" th:text="${drink}" th:style="'text-transform: lowercase'"></option>
            </select>
            <input type="hidden" name="name" th:value="${fox.name}">
            <button type="submit">Change</button>
    </form>
</div>
</body>
</html>