<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/useful.css}"  type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1>Todos for today:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Is urgent</th>
            <th>Is done</th>
        </tr>
        <tr th:each="todo : ${todos}" th:object="${todo}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{isUrgent}"></td>
            <td th:text="*{isDone}"></td>
        </tr>
    </table>
</div>
</body>
</html>