<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1>List of assignees</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>email</th>
            <th>email</th>
        </tr>
        <tr th:each="assignee : ${assignees}" th:object="${assignee}">
            <td th:text="*{id}"></td>
            <td>
                <a th:href="'/todo/assignee/' + ${assignee.id} + '/todos'">
                    <button th:text="*{name}"></button>
                </a>
            </td>
            <td th:text="*{email}"></td>
            <td>
                <form action="#" th:action="@{'/todo/assignee/' + ${assignee.id} + '/delete'}" method="post">
                    <button type="submit" >Delete</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{'/todo/assignee/' + ${assignee.id} + '/edit'}" method="post">
                    <input class="field" type="text" th:field="${assignee.name}" required>
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <h1> Add new assignee </h1>
        <form action="#" th:action="@{/todo/assignee/add}" th:object="${assignee}" th:method="post">
            <div>
                <!--            <label for="name">Name</label>-->
                <input class="field"  th:field="*{name}" type="text" required>
                <input class="field"  th:field="*{email}" type="text" required>
                <button type="submit">Submit</button>
            </div>
        </form>
        <div>
            <a href="/todo/">TodoList</a>
        </div>
    </div>
</div>
</body>
</html>