<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Edit todo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/add.css}" type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway:100,400&display=swap" rel="stylesheet">
</head>
<body>
<div class="form">
    <h1>Edit Todo</h1>
    <form action="#" th:action="@{'/todo/' + ${todo.id} + '/edit'}" th:object="${todo}" th:method="post">
        <div>
            <label class="form-title" for="name">Todo description</label>
            <input class="field" id="name" type="text" th:field="*{title}">
        </div>
        <div class="checkboxes">
            <a class="cb1">
                <label class="form-title" for="isUrgent">Urgent</label>
                <input class="checkbox" type="checkbox" id="isUrgent" th:checked="*{isUrgent}" th:name="isUrgent">
            </a>
            <a class="cb2">
                <label class="form-title" for="isDone">Done?</label>
                <input class="checkbox" type="checkbox" id="isDone" th:checked="*{isDone}" th:name="isDone">
            </a>
            <div>
                <label class="form-title" for="assignees"> Assignees:</label>
                <select id="assignees" name="assignee" th:field="*{assignee}" >
                    <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
                </select>
            </div>
            <div class="button">
                <button type="submit" value="Submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<div>
    <a href="/todo/">TodoList</a>
</div>
<div>
    <a th:href="@{/todo/assignees}">List of assignees</a>
</div>
</body>
</html>