<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="en"/>
    <!--    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1>Todos for today:</h1>
    <div>
        <ul>
            <li>
                <a href="/todo/"> List of todos </a>
            </li>
            <li>
                <a href="/todo/add"> Add new todo </a>
            </li>
            <li>
                <a href="/todo/assignees"> List of assignees </a>
            </li>
            <div>
                <h1> Search for todos </h1>
                <form id="" action="/todo/" method="get">
                    <div><label for="search">Search for*:</label>
                        <input type="text" id="search" name="search"/></div>
                    <label for="key">Search key:</label>
                    <select id="key" name="key">
                        <option value="byTitle">by Title</option>
                        <option value="byDueDate">by Due Date</option>
                        <option value="byCreationDate">by Creation Date</option>
                        <option value="byAssignee">by Assignee</option>
                    </select>
                    <div style="font-size: 8pt">*Required date format: YYYY-MM-DD</div>
                    <div>
                        <button type="submit">Search</button>
                    </div>
                </form>

<!--                <form action="#" th:action="@{/todo/}" method="get">-->
<!--                    <label>-->
<!--                        <input name="title" type="text" required>-->
<!--                    </label>-->
<!--                    <button type="submit">Search in todos</button>-->
<!--                </form>-->
<!--                <form action="#" th:action="@{/todo/}" method="get">-->
<!--                    <label>-->
<!--                        <input name="assignee" type="text" required>-->
<!--                    </label>-->
<!--                    <button type="submit">Search for assignee</button>-->
<!--                </form>-->
<!--                <form action="#" th:action="@{/todo/}" method="get">-->
<!--                    <label>-->
<!--                        <input name="dueDate" type="text" required>-->
<!--                    </label>-->
<!--                    <button type="submit">Search for due date</button>-->
<!--                </form>-->
<!--                <form action="#" th:action="@{/todo/}" method="get">-->
<!--                    <label>-->
<!--                        <input name="creationDate" type="text" required>-->
<!--                    </label>-->
<!--                    <button type="submit">Search for creation date</button>-->
<!--                </form>-->
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>DATE OF CREATION</th>
                    <th>DUE DATE</th>
                    <th>ASSIGNEE</th>
                    <th>ACTION</th>
                    <th>DONE</th>
                    <th>URGENT</th>
                </tr>
                <tr th:each="todo : ${todos}" th:object="${todo}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{#dates.format(creationDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="*{#dates.format(dueDate, 'yyyy-MM-dd')}"></td>
<!--                    <td th:text="*{dueDate}"></td>-->
                    <td>
                        <a th:href="'/todo/assignee/' + *{getAssigneeId()} + '/todos'">
                            <button th:text="*{assignee}"></button>
                        </a>
                    </td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{isDone}"></td>
                    <td th:text="*{isUrgent}"></td>
                    <td>
                        <!--                        <form action="#" th:action="@{'/todo/' + ${todo.id} + '/delete'}" method="post">-->
                        <!--                            &lt;!&ndash;                            <input type="hidden" name="id" th:value="*{id}">&ndash;&gt;-->
                        <!--                            <button type="submit">Delete</button>-->
                        <!--                        </form>-->
                        <a th:href="'/todo/' + ${todo.id} + '/delete'">
                            <button>Delete</button>
                        </a>
                    </td>
                    <td>
                        <!--                        <form action="#" th:action="@{'/todo/' + ${todo.id} + '/edit'}" method="post">-->
                        <!--                            &lt;!&ndash;                            <input type="hidden" name="id" th:value="*{id}">&ndash;&gt;-->
                        <!--                            <button type="submit">Edit</button>-->
                        <!--                        </form>-->
                        <a th:href="@{'/todo/' + ${todo.id} + '/edit'}">
                            <button>Edit</button>
                        </a>
                    </td>
                </tr>
            </table>
        </ul>
    </div>
</div>
</body>
</html>